body{
			background-image: url("images\\background.jpg");
			background-size:contain;
		}
		h1{
			color: black;
			font-weight: bolder;
			font-family: georgia;
			text-align: center;
			background-color: white;
		}
		form{
			background-color:lightgray;
			background-image: url(images\\form1bg.jpg);
			background-size: cover;
			border:2px groove black;
			height: 600px;
			width: 500px;
			box-shadow: 1px  1px 1px 4px yellow;
			border-radius: 10px;
		}
		input{
			border-radius: 10px;
			outline: none;
			width:200px;height:30px;
			font-size: 20px;
			font-family: georgia;
			font-weight: bold;
		}
		#time:hover{
			background-color: transparent;
			border:2px ridge black;
			box-shadow:1px 1px 1px 4px aqua;
			border-radius: 10px;
			outline: none;
		}
		.button:hover{
			background-color: red;
			color:white;
			border: 2px ridge red;
			cursor: pointer;
		}
		.button{
			color:red;background-color:aqua;font-size: 20px;font-weight: bolder;border:2px groove aqua;
		}
		.reset:hover{
			color:white;
			background-color:blue; 

		}
		#box{
			display: flex;
			justify-content: space-around;
			
		}

		.button2:hover{
			background-color:magenta;
			color:black;
			border: 2px ridge aqua;
			cursor: pointer;
		}
		.button2{
			color:white;background-color:darkblue;font-size: 20px;font-weight: bolder;border:2px groove aqua;
		}
		input[type="reset"]:hover{
			cursor: pointer;
		}
		table,th,td{
			border:2px solid black;
			border-collapse: collapse;
		}
		#flex0{
			display: flex;
			width: 100%;
			border:2px solid black;
			background-color: aqua;
			flex-direction: row-reverse;
		}
		#flex1{
			align-self: flex-start;
			width:75%;
			padding: 10px;

		}
		@media(max-width:1300px){
			#flex0{
			display: flex;
			width: 100%;
			border:2px solid black;
			background-color: aqua;
			flex-wrap: wrap;
		}
		#flex1{
			align-self: flex-start;
			width:100%;
			padding: 10px;

		}
                }
                @media(max-width:900px){
		#box{
			display: flex;
                        justify-content:space-between;
			flex-wrap: wrap;
		}

		}
